{% extends 'template.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
 <a href="http://localhost:8000/api/register/activate/?token={{ token }}&user={{ user.id }}">Cliquer ici pour activer votre compte</a>

{% endblock %}

{% block javascripts %}
{% endblock %}