<a class="btn btn-danger" style="color: white" >
    <form id="my_form" method="post" action="{{ path('myServices_delete', {'id': service.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.id) }}">
        <i class="os-icon os-icon-delivery-box-2"></i>
        <span id="my_span">Supprimer ce service</span>
    </form>
</a>
<script>
    $('#my_span').on('click', function() {
        $('#my_form').submit();
    });
</script>

    <a class="btn btn-white"
       href="{{ path('thisServiceOptions',{'id':service.id}) }}">
        <i class="os-icon os-icon-delivery-box-2"></i>
        <span id="my_span">Options</span>

    </a>
    <a class="btn btn-white"
       href="{{ path('service_calendar',{'id':service.id}) }}">
        <i class="os-icon os-icon-delivery-box-2"></i>
        <span id="my_span">Réservation</span>
    </a>
