{% extends 'base.html.twig' %}

{% block title %}New Service{% endblock %}
{% block  breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('myServices_new') }}">Mon service</a>
        </li>
    </ul>
{% endblock %}


{% block body %}
    {{ include('service/_form.html.twig', {'button_label': 'Crée', 'action':'new'}) }}

{% endblock %}
