{% extends 'base.html.twig' %}

{% block title %}Edit Service{% endblock %}

{% block  breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('myServices') }}">Mes services</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Modifier</a>
        </li>
    </ul>
{% endblock %}

{% block QuickLink1 %}
    {{ include('service/_myQuickLinks.html.twig') }}
    {{ include('service/myDelete_form.html.twig') }}
{% endblock %}

{% block body %}
    {{ include('service/_form.html.twig', {'button_label': 'Mettre à jour', 'action':'edit'}) }}

{% endblock %}
