{% extends 'base.html.twig' %}

{% block title %}select user{% endblock %}
{% block  breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Selectionner un utilisateur</a>
        </li>
    </ul>
{% endblock %}
{% block body %}


    <div class="col-sm-12">
        <div class="element-wrapper">
            <div class="element-box">

                {{ form_start(form) }}
                <h5 class="form-header">
                    Séléctionnez un utilisateur
                </h5>
                <div class="form-group">
                    {{ form_widget(form.id,{
                        'attr': {'class': 'form-control'}
                    }) }}
                </div>
                <div class="form-buttons-w">
                    <button class="btn btn-outline-primary" type="submit"> <span>Suivant</span><i class="os-icon os-icon-arrow-2-right"></i></button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
