{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}


{% block  breadcrumb %}

    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('category_index') }}">Catégorie</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Edit</a>
        </li>
    </ul>
{% endblock %}
{% block QuickLink1 %}
    {{ include('category/_quickLinks.html.twig') }}
    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
{% block body %}
    {{ include('category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
