{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}
{% block  breadcrumb %}

    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('category_index') }}">Catégorie</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Crée</a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    {{ include('category/_form.html.twig', {'button_label':"Crée"}) }}
{% endblock %}
