{% extends 'base.html.twig' %}

{% block title %}New Service{% endblock %}
{% block  breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        <li class="breadcrumb-item">
            <a href="{{ path('myWorkingHours_new') }}">Mes horaires</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Liste des exceptions</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Ajouter une exception</a>
        </li>
    </ul>
{% endblock %}

{% block QuickLink1 %}
{% endblock %}

{% block body %}
    <style>
        .btn-outline-warning {
            color: #000000;
            border-color: #fbe4a0;
        }
    </style>
    <div class="col-sm-12">
        <div class="element-wrapper">
            <div class="element-box">
                <h5 class="form-header">
                </h5>
                <div class="form-desc">
                </div>

                <fieldset class="form-group">
                    <legend><span>Choisir le type d'exception</span></legend>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons" id="radiosOf">
                        <label class="btn btn-outline-warning" id="lab01">
                            <input  type="radio" id="once" name="typeOf" autocomplete="off"  value="once" checked>Une fois
                        </label>
                        <label class="btn btn-outline-warning" id="lab02">
                            <input type="radio" name="typeOf" id="periodic" autocomplete="off" value="periodic" > Périodique
                        </label>

                    </div>
                </fieldset>
                <fieldset class="form-group">
                <legend><span>Choisir le type d'exception</span></legend>
                <div class="btn-group btn-group-toggle" data-toggle="buttons" id="radios">
                    <label class="btn btn-outline-warning">
                        <input type="radio" name="options" id="option1" autocomplete="off"  value="multiple"> Intervalle des jours
                    </label>
                    <label class="btn btn-outline-warning">
                        <input type="radio" name="options" id="option2" autocomplete="off" value="single" checked> Un jour
                    </label>

                    <label class="btn btn-outline-warning">
                        <input type="radio" name="options" id="option3" autocomplete="off" value="time"> Intervalle de temps
                    </label>
                </div>
                </fieldset>

            <fieldset class="form-group">
                <legend><span>Séléctionner les dates</span></legend>
                <div class="row">
                    <div class="col-sm-4">
                        <label for="daterange" class="form-label" id="labdaterange" style="display: none;"> Date</label><input type="text" id="daterange" value="" style="width:25ch;display: none;" class="form-control"/>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-2">
                        <label for="singledate" class="form-label" id="labsingle" style="display: none;"> Date</label><input type="text" id="singledate" value="" style="width:20ch;display: none;" class="form-control"/>
                    </div>
                    <div class="col-sm-2">
                        <label for="timerange1" class="form-label" id="label1" style="display: none;"> De</label><input type="time" id="timerange1" name="timerange1" required="required" class="form-control" style="display: none;">
                    </div>
                    <div class="col-sm-2">
                        <label for="timerange2" class="form-label" id="label2" style="display: none;"> A</label><input type="time" id="timerange2" name="timerange2" required="required" class="form-control" style="display: none;">
                    </div>
                </div>
            </fieldset>

                <button id="getBetween">Get Between Dates</button>
                <div id="results"></div>
                <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modal_title"></h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <div class="form-desc">
                                </div>
                            </div>
                            <div class="modal-header">
                                <h6 class="modal-title" style="color: #047bf8">Liste des réservations qui seront affècter par ce changement</h6>
                            </div>
                            <div class="modal-body">
                                <table id="dataTable">
                                    <thead>
                                    <tr>
                                        <th>Client</th>
                                        <th>Reservation</th>
                                        <th>Status</th>
                                        <th>Téléphone</th>
                                        <th>Date</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody_for_after">
                                    </tbody>
                                </table>

                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <button class="btn btn-warning " type="submit" id="#formField" onclick="sendData()">Envoyer des emails d'annulation et appliquer les changements</button>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-outline-dark" >Télécharger cette liste</button></div>
                                    <div class="col-auto mr-auto">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Annuler</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        let dt = new Date();
        let newd = new Date(dt.toISOString().substr(0,10)+' 23:59:59');
        newd.setHours(24)

        let _error = true;
        let dateArray = []
        let local = {
            "format": "MM/DD/YYYY",
                "separator": " - ",
                "applyLabel": "Appliquez",
                "cancelLabel": "Annuler",
                "fromLabel": "De",
                "toLabel": "A",
                "customRangeLabel": "Personalisé",
                "daysOfWeek": [
                "Dim",
                "Lun",
                "Mar",
                "Mer",
                "Jeu",
                "Ven",
                "Sam"
            ],
                "monthNames": [
                "Janvier",
                "Fevrier",
                "Mars",
                "Avril",
                "May",
                "Juin",
                "juillet",
                "Aout",
                "Septembre",
                "October",
                "November",
                "December"
            ],
                "firstDay": 1
        };
        let singleDate = false;
        let repeat = false;
        let json = {}
        $('#singledate').show();
        $('#labsingle').show();
        function sendData() {

            $.ajax({
                type: "POST",
                url: "/workingHours/myWorkingHours/sendData",//post how you get this URL please...
                data: {
                    data: json,
                    type:$('input[name="options"]:checked').val().toString(),
                    repeat:repeat
                },
                success: function (response) {
                    console.log($('input[name="options"]:checked').val().toString());
                    console.log(json);
                    console.log(repeat);
                    if (response.success) {
                        console.log("response");
                        console.log(response);
                        location.reload(true)
                    }else{

                        console.log("response2");
                        console.log(response);
                    }
                },
                error: function (response) {
                    console.log('an error occured');
                    if (!response.success) {
                        console.log(response.success);
                    }
                }
            });
        }
        $(function() {

            $("input[name='typeOf']").on("change",function () {
                repeat = $('input[name="typeOf"]:checked').val() !== "once";

            })

            $("#timerange1").on("change",function () {
                _error = true;
                console.log(this.value)
                console.log( $("#timerange2").val()==="")
                if($("#timerange2").val()===""){
                    return true;
                }
                var start_time = $("#timerange1").val();
                var end_time =  $("#timerange2").val()

                var stt = new Date("November 13, 2013 " + start_time);
                stt = stt.getTime();

                var endt = new Date("November 13, 2013 " + end_time);
                endt = endt.getTime();

//by this you can see time stamp value in console via firebug
                console.log("Time1: "+ stt + " Time2: " + endt);

                if(stt >= endt) {
                    $("#timerange1").next('span').remove();
                    $("#timerange2").next('span').remove();
                    $("#timerange1").after('<span class="error"><br>Le temps de fin doit être supérieur au temps de début.</span>');
                    $("#timerange2").after('<span class="error"><br>Le temps de début doit être supérieur au temps de fin.</span>');
                    _error = true;
                    return false;
                }else{
                    $("#timerange1").next('span').remove();
                    $("#timerange2").next('span').remove();
                    _error = false;
                    return true;
                }
            })

            $("#timerange2").on("change",function () {
                _error = true;
                console.log(this.value)
                console.log( $("#timerange1").val()==="")
                if($("#timerange1").val()===""){
                    return;
                }
                var start_time = $("#timerange1").val();
                var end_time =  $("#timerange2").val()

                var stt = new Date("November 13, 2013 " + start_time);
                stt = stt.getTime();

                var endt = new Date("November 13, 2013 " + end_time);
                endt = endt.getTime();

//by this you can see time stamp value in console via firebug
                console.log("Time1: "+ stt + " Time2: " + endt);

                if(stt >= endt) {
                    $("#timerange1").next('span').remove();
                    $("#timerange2").next('span').remove();
                    $("#timerange1").after('<span class="error"><br>Le temps de fin doit être supérieur au temps de début.</span>');
                    $("#timerange2").after('<span class="error"><br>Le temps de début doit être supérieur au temps de fin.</span>');
                    _error = true;
                    return false;
                }else{
                    $("#timerange1").next('span').remove();
                    $("#timerange2").next('span').remove();
                    _error = false;
                    return true;
                }

            })

            $("input[name='options']").on("change",function () {

                dateArray = [];
                _error = true;
                json = {};

                $("#singledate").val("");
                $("#daterange").val("");
                if($('input[name="options"]:checked').val() === "single"){
                    $('#timerange1').hide();
                    $('#timerange2').hide();
                    $('#daterange').hide();
                    $('#singledate').show();
                    $('#label1').hide();
                    $('#label2').hide();
                    $('#labdaterange').hide();
                    $('#labsingle').show();

                }else if($('input[name="options"]:checked').val() === "multiple"){
                    $('#timerange1').hide();
                    $('#timerange2').hide();
                    $('#daterange').show();

                    $('#singledate').hide();

                    $('#label1').hide();
                    $('#label2').hide();
                    $('#labdaterange').show();
                    $('#labsingle').hide();
                }else{
                    $('#timerange1').show();
                    $('#timerange2').show();
                    $('#daterange').hide();
                    $('#singledate').show();
                    $('#label1').show();
                    $('#label2').show();
                    $('#labdaterange').hide();
                    $('#labsingle').show();

                }
            })



            $('#daterange').daterangepicker({
                singleDatePicker: false,
                "minDate": newd,
                "locale": local
            }, onSelect);

            $('#singledate').daterangepicker({
                singleDatePicker: true,
                "minDate": newd,
                "locale": local
            }, onSelect);

            $('input[name="datefilter"]').on('apply.daterangepicker', function(ev, picker) {
                $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
            });



/*
            $(window).scroll(function() {
                if ($('#daterange').length) {
                    $('#daterange').daterangepicker("close");
                }
            });

            $(window).scroll(function() {
                if ($('input[id="singledate"]').length) {
                    $('input[id="singledate"]').daterangepicker("close");
                }
            });
        */
            function reservationsAtThisDate(){
                return $.ajax({
                    type: "POST",
                    // async: false,
                    url: "/workingHours/reservationsAtThisDate",
                    data: {
                        data: json,
                        type:$('input[name="options"]:checked').val().toString(),
                        repeat:repeat
                    },//jQ will sort this out for you
                    success: function (response) {
                        console.log(response);
                    },
                });
            }




            $('#getBetween').on('click',function () {
                if($('input[name="options"]:checked').val() === "single" || $('input[name="options"]:checked').val() === "multiple" ){
                    if(dateArray.length === 0){

                        $("#getBetween").next('span').remove();
                        $("#getBetween").after('<span class="error"><br>Sélèctionner la date.</span>');
                        sendData()
                        return false;
                    }else{
                        $("#getBetween").next('span').remove();
                        json = dateArray

                        $.when( reservationsAtThisDate()).done(function(response){
                            if(response.result.length === 0){
                                console.log("aaaaa")
                                sendData()
                            }else if(response.result.length !== 0){
                                let str = ""
                                Object.keys(response.result).forEach((reservation)=>{
                                        console.log(reservation["client"]);
                                        console.log(reservation);
                                        let client = response.result[reservation]["client"]
                                        let id = response.result[reservation]["id"]
                                        let status = response.result[reservation]["status"]
                                        let phone = response.result[reservation]["phone"]
                                        let date = response.result[reservation]["date"].date.substr(0,16)
                                        str += "<tr><td>" + client + "</td><td>" + id + "</td><td>" + status + "</td><td>" + phone + "</td><td>" + date + "</td></tr>"

                                    }
                                )
                                $("#tbody_for_after").html(
                                    str
                                )
                                var weekday = ["Dimanche","Lundi","Mardi","Mercredi","Jeudi","Vendredi","Samedi"];
                                /*
                                                    $("#modal_title").html(
                                                        "Créneau horaire à supprimer: "+weekday[arg.event.start.getDay()]+" à " + start_.substr(11,8)
                                                    )
                                                    */

                                if (str === "") {
                                    console.log("Aucun produit dans cette catégorie")
                                    return;
                                }
                                table = $('#dataTable').DataTable({
                                    orderCellsTop: true,
                                    fixedHeader: true,
                                    "dom": '<"top"l>rt<"bottom"ip><"clear">',
                                    language: {
                                        url: '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json'
                                    }
                                });

                                $('#confirm-submit').modal('show')

                            }else{
                                //error
                            }
                        });
                        //sendData()
                        alert(JSON.stringify(json));
                        return true;
                    }
                }else{
                    if(_error || dateArray.length === 0){
                        console.log(_error)
                        console.log(dateArray)
                        sendData()
                        $("#getBetween").next('span').remove();
                        $("#getBetween").after('<span class="error"><br>Sélèctionner la date.</span>');
                        return false;
                    }else{

                        $("#getBetween").next('span').remove();
                        var start_time = $("#timerange1").val()
                        var end_time =  $("#timerange2").val()
                        let _val = start_time+"-"+end_time
                        json = {"time":[_val]}
                        console.log(json)
                        json[dateArray[0].toString()] = json['time'];
                        delete json['time'];
                        $.when( reservationsAtThisDate()).done(function(response){
                            if(response.result.length === 0){
                                console.log("aaaaa")

                                sendData()
                            }else if(response.result.length !== 0){
                                let str = ""
                                Object.keys(response.result).forEach((reservation)=>{
                                        console.log(reservation["client"]);
                                        console.log(reservation);
                                        let client = response.result[reservation]["client"]
                                        let id = response.result[reservation]["id"]
                                        let status = response.result[reservation]["status"]
                                        let phone = response.result[reservation]["phone"]
                                        let date = response.result[reservation]["date"].date.substr(0,16)
                                        str += "<tr><td>" + client + "</td><td>" + id + "</td><td>" + status + "</td><td>" + phone + "</td><td>" + date + "</td></tr>"

                                    }
                                )
                                $("#tbody_for_after").html(
                                    str
                                )
                                var weekday = ["Dimanche","Lundi","Mardi","Mercredi","Jeudi","Vendredi","Samedi"];
                                /*
                                                    $("#modal_title").html(
                                                        "Créneau horaire à supprimer: "+weekday[arg.event.start.getDay()]+" à " + start_.substr(11,8)
                                                    )
                                                    */

                                if (str === "") {
                                    console.log("Aucun produit dans cette catégorie")
                                    return;
                                }
                                table = $('#dataTable').DataTable({
                                    orderCellsTop: true,
                                    fixedHeader: true,
                                    "dom": '<"top"l>rt<"bottom"ip><"clear">',
                                    language: {
                                        url: '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json'
                                    }
                                });

                                $('#confirm-submit').modal('show')

                            }else{
                                //error
                            }
                        });
                        return true;
                    }
                }
            })

            $("#singledate").val("");
            $("#daterange").val("");
        });

        Date.prototype.addDays = function(days) {
            var dat = new Date(this.valueOf())
            dat.setDate(dat.getDate() + days);
            return dat;
        }


        Date.prototype.addHours = function(days) {
            var dat = new Date(this.valueOf())
            dat.setHours(dat.getHours() + days);
            return dat;
        }
        function getDates(startDate, stopDate) {
            dateArray = [];
            var currentDate = startDate;
            while (currentDate <= stopDate) {
                dateArray.push(currentDate.toISOString().substr(0,10))
                currentDate = currentDate.addDays(1);
            }
            return dateArray;
        }
        function rename(old,_new) { // function to rename on button click
            json = json.map(function(obj,old,_new) {
                obj[_new] = obj[old]; // Assign new key
                delete obj[old]; // Delete old key
                return obj;
            });
            console.log(capitals);
        }
        function onSelect(start, end, label) {


            $first = new Date(start.format('YYYY-MM-DD 00:00:00'));
            $now = new Date();
            console.log($now/*.addHours(1)*/)
            console.log($first/*.addHours(1)*/)
            if($first<= $now){

                $("#dateErr").remove();
                $("#getBetween").before("<span class='error' id='dateErr'><br>La date doit être supérieur au date d'aujourd'hui.<br></span>");
                dateArray = []
                return false
            }
            $("#dateErr").remove();
            console.log(this)
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));

            dateArray = getDates(new Date(start.format('YYYY-MM-DD')), new Date(end.format('YYYY-MM-DD')));
            for (i = 0; i < dateArray.length; i ++ ) {
                console.log(dateArray[i])//.toISOString().substr(0,10));
            }
            /*
            json = {"data":dateArray};
            console.log(json)
            */
        }

        $("#formField").on('click',function () {
            console.log("aaza")
            sendData();
        })

    </script>
{% endblock %}