{% extends 'base.html.twig' %}

{% block title %}Edit ProductCategory{% endblock %}
{% block  breadcrumb %}

    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('myProductCategories') }}">Catégories</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Edit</a>
        </li>
    </ul>
{% endblock %}

{% block QuickLink1 %}
    {{ include('product_category/_myQuickLinks.html.twig') }}
    {{ include('product_category/_myDelete_form.html.twig') }}
{% endblock %}

{% block body %}
    {{ include('product_category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
