{% block QuickLink1 %}
    <a class="btn btn-white btn-sm" href="{{ path('myProducts_new') }}">
        <i class="os-icon os-icon-delivery-box-2"></i>
        <span>Crée un nouveau produit</span>
    </a>
{% endblock %}