{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}
{% block  breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Accueil</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('myProducts') }}">Mes produits</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Ajouter</a>
        </li>
    </ul>
{% endblock %}


{% block body %}
    {{ include('product/_form.html.twig', {'button_label': 'Ajouter', 'action':'new'}) }}

{% endblock %}
