{% extends 'template.html.twig' %}

{% block title %}CODE PROMO{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <h1>Voici le code promo {{ code }}</h1>
    <h2>Présentez votre code promo au marchand afin de profiter de l'offre</h2>
    <h2>Une fois votre code reçu vous pouvez appeler {{ name }} au {{ phone }}  pour prendre RDV ou bien les contacter sur cette adresse email {{ email }}</h2>
{% endblock %}

{% block javascripts %}
{% endblock %}