{% extends 'base.html.twig' %}

{% block title %}Error{% endblock %}



{% block body %}
    {#
    <div class="element-box">
        <h5 class="form-header">
            Powered by CKEditor
        </h5>
        <div class="form-desc">
            Create captivating content with multiple features available in CKEditor thanks to its plugin-based architecture. <a href="http://ckeditor.com/" target="_blank">Learn More about CKEditor</a>
        </div>
        <textarea cols="80" id="ckeditor1" name="ckeditor1" rows="10"></textarea>
    </div>
    #}

    <div class="element-box">
        <h5 class="form-header">
            Erreur
        </h5>
        <div class="form-desc">
            Vérifier les paramètres de l'URL
        </div>


    </div>
{% endblock %}
