{% block QuickLink1 %}
    <a class="btn btn-white btn-sm" href="{{ path('userServiceCategories_new',{'userId':userId}) }}">
        <i class="os-icon os-icon-delivery-box-2"></i>
        <span>Crée une nouvelle catégorie</span>
    </a>
{% endblock %}