{% extends 'base.html.twig' %}

{% block title %}Edit ServiceCategory{% endblock %}
{% block  breadcrumb %}

    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('userServiceCategories_index', {'userId': userId}) }}">Catégories</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Edit</a>
        </li>
    </ul>
{% endblock %}

{% block QuickLink1 %}
    {{ include('service_category/_quickLinks.html.twig') }}
    {{ include('service_category/_delete_form.html.twig', {'userId': userId}) }}
{% endblock %}

{% block body %}
    {{ include('service_category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
