{% extends 'base.html.twig' %}

{% block title %}New Deal{% endblock %}
{% block  breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Accueil</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('myDeals') }}">Mes deals</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Ajouter</a>
        </li>
    </ul>
{% endblock %}


{% block body %}
    <div class="col-sm-6">
    {{ include('deal/_form.html.twig', {'button_label': 'Ajouter', 'action':'new'}) }}
    </div>
{% endblock %}
