{% extends 'base.html.twig' %}

{% block title %}New Deal{% endblock %}
{% block  breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('selectUserDeal', {'action': 'new'}) }}">Selectionner un utilisateur</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('deal_index_user', {'userId': userId }) }}">deals</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Ajouter</a>
        </li>
    </ul>
{% endblock %}


{% block body %}
    {{ include('deal/_form.html.twig', {'button_label': 'Crée', 'action':'new'}) }}

{% endblock %}
